.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 14px;

  p {
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    padding: 4px;
  }
}